.cards {
  background: var(--componenets-background-default);
  box-shadow: var(--card-shadow-default);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px 20px 0 20px;
  margin-top: 10px;
}